@model IEnumerable<Customers.Models.BankAccount>

<h4>@Html.ViewData["Title"]</h4>

<div id="bankaccounts_panel">
    <input name = "NewButton" type="button" value="Добавить"  autofocus class="btn btn-default" />
    <input name = "EditButton" type="button" value="Изменить" class="btn btn-default" />
    <input name = "DeleteButton" type="button" value="Удалить" class="btn btn-default" />
</div>

@*Элемент для передачи фокуса таблице*@
<a id="bankaccounts_table_input" href="#bankaccounts_table"></a>

@*Таблица банковских счетов*@
@if (Model.Count() == 0)
{
    @*Выводим пустую таблицу, если нет данных*@
    <table id="bankaccounts_table" class="table table-striped table-bordered table-condensed EmptyTable">
        <thead>
            <tr>
                <th>Номер счета</th>
                <th>Банк</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td><td></td>
            </tr>
        </tbody>
    </table>
}
else {
        <table id="bankaccounts_table"class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Номер счета</th>
                    <th>Банк</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var e in Model)
                {
                    <tr>
                        <td>@e.BankAccountNumber</td>
                        <td>@e.Bank.BankName</td>
                        <td style="display:none;">@e.Bank.BankId</td>
                        <td style="display:none;">@e.BankAccountId</td>
                    </tr>
                }
            </tbody>
        </table>

   }

        