@model IEnumerable<Customers.Models.BankAccount>

<h1>@Html.ViewData["Title"]</h1>


@if (Model.Count() == 0)
{
    <div>Нет данных для отображения</div>

}
else {
    <div>
        <a href="#bankaccounts_table" id="bankaccounts_table_input"></a>
        <table  id="bankaccounts_table" class="table table-striped table-condensed table-hover table-bordered">
            <thead>
                <tr>
                    <th>Номер</th>
                    <th>Контрагент</th>
                    <th>Банк</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var e in Model)
                {
                    <tr>
                        <td>@e.BankAccountNumber</td>
                        <td>@e.Customer.CustomerName</td>
                        <td>@e.Bank.BankName</td>
                        <td style="display:none;">@e.BankAccountId</td>
                        <td style="display:none;">@e.Customer.CustomerId</td>
                        <td style="display:none;">@e.Bank.BankId</td>
                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
}


