@model IEnumerable<Customers.Models.Customer>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <div id="dialog_newcustomer" title="Create new customer"  style="display:none;">
        <p>
            Name: @Html.TextBox("Name")
        </p>       
        Business type:
        <select id="BusinessType">
            @foreach (var e in ViewBag.BusinessTypes)
            {
                <option>@e.BusinessTypeName</option>
            }          
         </select>
                 
        <p>
            <input type="button" value="Записать" onclick="NewCustomer()" />
        </p>
                
    </div>

    <h1>@ViewBag.Title</h1>
    <input type="button" value="New" onclick="NewClick()" />
    @if (Model.Count() == 0)
    {
        <div>Нет данных для отображения</div>

    }
    else {
        <table>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            @foreach (var e in Model)
            {
                <tr>

                    <td>@e.CustomerName</td>
                    <td>@e.BusinessType.BusinessTypeName</td>
                    <td><input type="button" value="Edit" onclick="EditClick()" /></td>
                    <td><input type="button" value="Delete" onclick="location.href=@Url.Action("Delete", "Customers" )" />
                </tr>
            }
        </table>
    }
    <script type="text/javascript" language="javascript">
        function EditClick() {
            $(function () {
                $("#dialog_window_1").dialog();
            });
        };

        function NewClick() {

            $(document).ready(function () {
                $('#dialog_newcustomer').dialog();
            });
        }
            function NewCustomer() {
                alert("test");
            };
        
    </script>
</body>
</html>
