@model IEnumerable<Customers.Models.Customer>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    
    <h1>@ViewBag.Title</h1>
    <input type="button" value="New" onclick="NewClick()" />
    
    <div id="CustomersTable">
        @Html.Partial("_table", Model)
    </div>

        @*Adding new customer dialog*@
        <div id="dialog_newcustomer" title="Create new customer" style="display:none;">
            <form method="POST" id="form_newcustomer" action="javascript:void(null);" onsubmit="NewCustomer()">
                Name: @Html.TextBox("CustomerName", "")
                Business type:
                <select name="BusinessTypeName">
                    @foreach (var e in ViewBag.BusinessTypes)
                    {
                        <option>@e.BusinessTypeName</option>
                    }
                </select>
                <input type="submit" value="Записать" />
                <div id="dialog_newcustomer_divmsg"></div>
            </form>
        </div>


        <script type="text/javascript" language="javascript">

        @*Press Edit button in Customers table*@
            function EditClick() {
                $(function () {
                    $("#dialog_window_1").dialog();
                });
            };

            @*Press New button*@
            function NewClick() {

                $(document).ready(function () {
                    $('#dialog_newcustomer').dialog();
                });
            }

            @*Create new  Customer*@
            function NewCustomer() {


                @*validation form on client side*@
                var errors = "";
                if ($("#form_newcustomer input[name='CustomerName']").val().length == 0) {
                    errors = "Не задано имя контрагента";
                }
                if ($("#form_newcustomer select[name='BusinessTypeName']").val().length == 0) {
                    errors = errors + (errors.length == 0 ? '' : '\n') + "Не задан тип контрагента";
                }

                var myDiv = document.getElementById("dialog_newcustomer_divmsg");

                if (errors.length != 0) {
                    myDiv.innerHTML = errors;
                    return;
                }
                else
                    myDiv.innerHTML = "";


                var msg = $('#form_newcustomer').serialize();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Add", "Customers")',
                    data: msg,
                    success: function (data) {
                        if (data["isOk"]){
                        $('#dialog_newcustomer').hide();
                        $('#CustomersTable').html(data["view"]);
                        }
                        else {
                            var myDiv = document.getElementById("dialog_newcustomer_divmsg");
                            myDiv.innerHTML = "Ошибка записи: " + data["Errors"];
                        }
                    },
                    error: function (xhr, str) {
                        var myDiv = document.getElementById("dialog_newcustomer_divmsg");
                        myDiv.innerHTML = "Ошибка записи: " + xhr.responseCode;
                    }
                });

            }

        </script>
</body>
</html>
