@model IEnumerable<Customers.Models.Customer>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    
    <h1>@ViewBag.Title</h1>
    <p>
        <input type="button" value="New" onclick="NewClick()" style="width:100px" />
    </p>
    
    <div id="CustomersTable">
        @Html.Partial("_table", Model)
    </div>

    @*Customer dialog*@
    <div id="dialog_customer" title="Customer" style="display:none;">
        <form method="POST" id="form_customer" action="javascript:void(null);" onsubmit="SaveChanges()">
            <table>
                <tr><th>Name:</th></tr>
                <tr><td>@Html.TextBox("CustomerName", "")</td></tr>
                <tr><td><input name="CustomerId" type="hidden"></td></tr>
                <tr><th>Business type:</th></tr>
                    <tr><td>
                            <select name="BusinessTypeName">
                                @foreach (var e in ViewBag.BusinessTypes)
                                {
                                    <option>@e.BusinessTypeName</option>
                                }
                            </select>                        
                        </td>
                </tr>
                <tr>
                    <input type="submit" value="Записать"/>
                    <input type="button" value="Закрыть" name="close" onclick="$('#dialog_customer').dialog('close')" />
                </tr>
            </table>
            
            <div id="dialog_customer_divmsg"></div>
        </form>
    </div>

        <script type="text/javascript" language="javascript">

        @*Press Edit button in Customers table*@
            function EditClick(CustomerId, CustomerName, BusinessTypeName) {
                $(function () {
                    $("#dialog_customer input[name='CustomerName']").val(CustomerName);
                    $("#dialog_customer input[name='CustomerId']").val(CustomerId);
                    $("#dialog_customer select[name='BusinessTypeName']").val(BusinessTypeName);
                    var dlg = document.getElementById('dialog_customer');
                    dlg.title = 'Editing customer';
                    // устанавливаем признак что запись уже существуе, просто редактируем
                    dlg.setAttribute('isNew', false);
                    // установим атрибут со значением ID чтобы обновить потом запись в БД
                    dlg.setAttribute('CustomerId', CustomerId);
                    $("#dialog_customer").dialog();
                });
            };

            @*Press New button*@
            function NewClick() {

                $(document).ready(function () {
                     var dlg = document.getElementById('dialog_customer');
                     dlg.title = 'Create new customer';
                    // устанавливаем признак что запись новая
                    dlg.setAttribute('isNew', true);
                    $("#dialog_customer").dialog();
                });
            }

            @*Save changes*@
            function SaveChanges() {
                @*validation form on client side*@
                var errors = "";
                if ($("#form_customer input[name='CustomerName']").val().length == 0) {
                    errors = "Не задано имя контрагента";
                }

                var myDiv = document.getElementById("dialog_customer_divmsg");

                if (errors.length != 0) {
                    myDiv.innerHTML = errors;
                    return;
                }
                else
                    myDiv.innerHTML = "";

                var action;
                if (document.getElementById('dialog_customer').getAttribute("isNew") == true) action = '@Url.Action("Add", "Customers")';
                else action = '@Url.Action("Update", "Customers")';

                var msg = $('#form_customer').serialize();
                $.ajax({
                    type: 'POST',
                    url: action,
                    data: msg,
                    success: function (data) {
                        if (data["isOk"]){
                            $('#dialog_customer').dialog('close');
                            $('#CustomersTable').html(data["view"]);
                        }
                        else {
                            var myDiv = document.getElementById("dialog_customer_divmsg");
                            myDiv.innerHTML = "Ошибка записи: " + data["Errors"];
                        }
                    },
                    error: function (xhr, str) {
                        var myDiv = document.getElementById("dialog_customer_divmsg");
                        myDiv.innerHTML = "Ошибка записи: " + xhr.responseCode;
                    }
                });

            }

        </script>
</body>
</html>
